
.card {
    width: 400px;
    border: 2px solid var(--primary-color);
    box-shadow: 5px 5px 10px rgba(0,0,0,0.1);
    margin-bottom: 20px;
}
.card-header {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto auto;
    justify-content: space-between;
    padding: 10px;
    font-size: 0.9em;
    align-items: start;
    background-color: var(--primary-color);
    color: var(--secondary-color);
}
.card-name {
    font-size: 1.2rem;
    width: auto;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    font-weight: bolder;
    text-align: center;
}
.right-header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    justify-self: end;
}
.right-header-item div {
    text-align: center;
    font-size: 0.6rem;
    font-weight: bold;
}

.card-content {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto auto auto; /* Added a third row */
    padding: 0 10px 10px;
    font-size: 0.9em;
}
.stats {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 0.9em;
    grid-row: 1 / 2;
    margin-right: calc(-1 * 16px);
    margin-left: calc(-1 * 16px);
}
.card-stat {
    margin: 0;
    padding: 5px;
}
.card-stat div {
    text-align: center;
    border: 1px solid var(--primary-color);
    padding: 5px;
    width: 60px;
    font-size: 0.6rem;
    font-weight: bold;
}
.card-stat div:first-child {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

.attack-button {
    background-image: url('../img/attack.svg'); /* Replace with your image path */
    background-size: cover; /* Adjust as needed: contain, auto, etc. */
    background-repeat: no-repeat;
    background-color: transparent;
    border: none; /* Remove default button border */
    cursor: pointer; /* Add a pointer cursor on hover */
    padding: 5px; /* Remove default button padding */
    margin-left: 10px;
    width: 50px;
    height: 50px;

}
.attack-button:hover {
    /* Optional: Add hover effects */
    opacity: 0.8;
}


.image {
    text-align: center;
    padding: 20px;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}
.image img {
    max-width: 100%;
    height: auto;
}


.description-toggle {
    grid-column: 1 / 4;
    grid-row: 2 / 3;
    cursor: pointer;
    padding: 0.75rem 1.5rem; /* Match your other button padding */
    border: 2px solid var(--primary-color);
    background-color: #1a5205; /* Match tab background */
    color: var(--primary-color);
    margin-top: 10px;
    margin-bottom: 0;
    border-radius: 5px; /* Match tab border-radius */
    font-weight: bold;
    font-size: 1.2rem; /* Match tab font-size */
    transition: background-color 0.3s ease, color 0.3s ease;
}
.description-container {
    grid-column: 1 / 4;
    grid-row: 3 / 3; /* Position the container in the third row */
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.3s ease-out;
}
.description {
    padding: 10px;
    text-align: justify;
    font-size: 0.8em;
    line-height: 1.5;
}
.description-container.expanded {
    max-height: 500px;
    transition: max-height 0.5s ease-in;
}

@media (max-width: 768px) {
    .card {
        width: 100%;
    }
}