#weapon-list {
    margin-top: 1rem;
}
#weapon-list li {
    background-color: rgba(175, 255, 3, 0.05);
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    border-radius: 3px;
    border: 1px solid var(--primary-color);
}


.card {
    width: 400px;
    border: 2px solid var(--primary-color);
    box-shadow: 5px 5px 10px rgba(0,0,0,0.1);
    margin-bottom: 20px;
}
.header {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto auto;
    justify-content: space-between;
    padding: 10px;
    font-size: 0.9em;
    align-items: start;
}
.weapon-name {
    font-size: 1.2rem;
    margin: 0.5rem;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}
.right-header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    justify-self: end;
}
.right-header .cost div,
.right-header .weight div,
.right-header .rarity div {
    text-align: center;
    font-size: 0.6rem;
}
.details {
    font-size: .8rem;
    grid-column: 1 / 3;
    grid-row: 2 / 3;
}

.card-content {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto auto auto; /* Added a third row */
    padding: 0 10px 10px;
    font-size: 0.9em;
}
.image {
    text-align: center;
    padding: 20px;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}
.image img {
    max-width: 100%;
    height: auto;
}
.stats {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 0.9em;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    margin-right: calc(-1 * 16px);
}
.stats > div {
    padding: 5px;
}
.damage > div,
.rate > div,
.range > div {
    text-align: center;
    border: 1px solid var(--primary-color);
    padding: 5px;
    width: 60px;
    font-size: 0.6rem;
}
.description-toggle {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    cursor: pointer;
    padding: 0.75rem 1.5rem; /* Match your other button padding */
    border: 2px solid var(--primary-color);
    background-color: #1a5205; /* Match tab background */
    color: var(--primary-color);
    margin-top: 10px;
    margin-bottom: 0;
    border-radius: 5px; /* Match tab border-radius */
    font-weight: bold;
    font-size: 1.2rem; /* Match tab font-size */
    transition: background-color 0.3s ease, color 0.3s ease;
}

.description-toggle:hover {
    background-color: var(--primary-color);
    color: #0f3003;
}

.description-toggle:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(175, 255, 3, 0.7); /* Match form-control focus */
    border-color: var(--primary-color);
}
.description-container {
    grid-column: 1 / 3;
    grid-row: 3 / 3; /* Position the container in the third row */
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.3s ease-out;
}
.description {
    padding: 10px;
    text-align: justify;
    font-size: 0.8em;
    line-height: 1.5;
}
.description-container.expanded {
    max-height: 500px;
    transition: max-height 0.5s ease-in;
}

@media (max-width: 768px) {
    .card {
        width: 100%;
    }
}