.itemlist-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.itemlist-header h2,
.add-item-button {
    font-size: 2rem;
    font-weight: bolder;
    color: var(--primary-color);
    background-color: transparent;
    border: none;
}
.add-item-button {
    border: 2px solid var(--primary-color);
    margin : 5px;
    padding: 0 0.5rem;
}

.card {
    width: 400px;
    border: 2px solid var(--primary-color);
    box-shadow: 5px 5px 10px rgba(0,0,0,0.1);
    margin-bottom: 20px;
    position: relative;
}
.card-header {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto auto;
    justify-content: space-between;
    padding: 10px;
    font-size: 0.9em;
    align-items: start;
    background-color: var(--primary-color);
    color: var(--secondary-color);
}
.card-name {
    font-size: 1.2rem;
    width: auto;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    font-weight: bolder;
    text-align: center;
}
.right-header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    justify-self: end;
}
.right-header-item div {
    text-align: center;
    font-size: 0.6rem;
    font-weight: bold;
}

.card-content {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: auto auto auto;
    font-size: 0.9em;
}
.stats {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-size: 0.9em;
    margin: 0;
}
.card-stat {
    margin: 5px 0;
}
.card-stat div {
    text-align: center;
    border: 1px solid var(--primary-color);
    padding: 5px;
    width: 60px;
    font-size: 0.6rem;
    font-weight: bold;
}
.card-stat div:first-child {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}


.image {
    display: flex;
    text-align: center;
    justify-content: space-around;
    padding: 10px;
}
.image img {
    text-align: center;
}
#weapon-img {
    max-width: 100%;
}
#supply-img {
    width: 40px;
    height: 40px;
}

.card-tags {
    display: flex;
    grid-column: 1 / 4;
    padding: 0.5rem;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}
.tag {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 4px;
    padding: 0.3rem;
    font-size: .8rem;
}

.card-controls {
    grid-column: 1 / 4;
    margin: 5px;
    justify-content: space-around;
    align-items: center;
    display: flex;
}
.attack-button {
    background-image: url('../img/svg/attack.svg'); /* Replace with your image path */
    background-size: cover; /* Adjust as needed: contain, auto, etc. */
    background-repeat: no-repeat;
    background-color: transparent;
    border: none; /* Remove default button border */
    cursor: pointer; /* Add a pointer cursor on hover */
    height: 40px;
    width: 40px;
    margin-right: 10px;
}
.attack-button:hover {
    /* Optional: Add hover effects */
    opacity: 0.8;
}
.description-toggle {
    cursor: pointer;
    padding: 0.5rem 0.5rem; /* Match your other button padding */
    border: 2px solid var(--primary-color);
    background-color: #1a5205; /* Match tab background */
    color: var(--primary-color);
    border-radius: 5px; /* Match tab border-radius */
    font-weight: bold;
    font-size: 1.2rem; /* Match tab font-size */
    transition: background-color 0.3s ease, color 0.3s ease;
    flex: auto;
}
.description-container {
    grid-column: 1 / 4;
    grid-row: 3 / 3; /* Position the container in the third row */
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.3s ease-out;
}
.description {
    padding: 10px;
    text-align: justify;
    font-size: 0.8em;
    line-height: 1.5;
}
.description-container.expanded {
    max-height: 500px;
    transition: max-height 0.5s ease-in;
}

.card-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-opaque black background */
    display: flex;
    justify-content: center; /* Center buttons horizontally */
    align-items: center;    /* Center buttons vertically */
    z-index: 10; /* Ensure it's on top of other card content */
}
.overlay-buttons {
    display: flex;
    gap: 20px; /* Space between the buttons */
}
.overlay-buttons button {
    border: none;
    padding: 30px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 3rem;
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1 / 1;
    background-color: #aaaaaa; /* Grey */
}
.overlay-buttons .delete-button {
    background-color: #ff4d4d; /* Red */
}
.overlay-buttons button div {
    display: block; /* To prevent extra space below the image */
    color: black;
}

img.fas {
    width: 3rem;
    height: 3rem;
    filter: grayscale(100%) brightness(0%);
}

@media (max-width: 768px) {
    .card {
        width: 100%;
    }
}