section#map-screen {
    overflow: hidden;
    flex-flow: column;
    justify-content: center; /* Center horizontally */
    align-items: center;     /* Center vertically */
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}
section#map-screen:not(.hidden) {
    display: flex;
}

#map-container {
    overflow: hidden;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}