#add-item-popup {
    margin: 15px;
}

/* TODO unify all layouts */
.popup {
    position: relative;
    background-color: var(--secondary-color);
    border: var(--border-primary-thin); /* Using the defined border variable */
    z-index: 1000; /* Ensure it's on top of other content */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 20px;
}