#stat-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5rem;
    width: 100%;
    flex-wrap: wrap; /* Permetti il wrapping anche su schermi più grandi se necessario */
}
.stat {
    padding: 0.5rem;
    border: 2px;
    text-align: center;
    background-color: rgba(15, 48, 3, 0.3);
    width: calc(14.28% - 20px); /* Calcola per 7 elementi con margini */
    min-width: 80px; /* Imposta una larghezza minima */
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centra verticalmente */
    align-items: center; /* Centra orizzontalmente */
    aspect-ratio: 1;
    margin: 0.5rem;
    background-image: url("../img/gear.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.stat h3 {
    font-size: 1rem;
    margin-bottom: 0.1rem; /* Ridotto il margine inferiore */
    color: #ffdb58;
}
.stat-value {
    font-size: 1.5rem; /* Aumentato la dimensione del numero */
    font-weight: bold;
    color: var(--primary-color);
}

.derived-stat {
    border: 2px solid var(--primary-color);
    border-radius: 5px;
    margin: 0.5rem;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex: 1;
    text-align: center;

    font-size: clamp(10px, 3vw, 32px);
    box-sizing: border-box;
}

.derived-stat div {
    margin: 0.2rem;
}

#skills {
    display: flex;
    flex-direction: column; /* Stack skills vertically */
    align-items: stretch; /* Stretch items to fill width */
}
.skill {
    display: flex;
    /*justify-content: space-between; /* Space labels and checkboxes */
    align-items: center; /* Align items vertically */
    padding: 1rem;
    border: 2px solid var(--primary-color);
    border-radius: 5px;
    margin-bottom: 0.5rem; /* Add spacing between skills */
    box-sizing: border-box;
}
.skill-name {
    font-weight: bold;
    flex: 3;
    margin-right: 1rem;
    font-size: 1.1rem;
}
.skill-stat {
    font-style: italic;
    flex: 3;
    margin-right: 1rem;
    font-size: 1.1rem;
    justify-content: space-around;
}
.skill-value {
    flex: 1;
    margin-right: 1rem;
    text-align: right;
    font-size: 1.1rem;
}

@media (max-width: 768px) {

    #stat-container {
        display: flex;
        justify-content: space-around; /* Distribute space evenly */
        align-items: center;
        flex-wrap: wrap; /* Allow wrapping */
    }
    .stat {
        width: calc(25% - 10px); /* Obiettivo di 4 per riga su mobile */
        min-width: 60px;
        margin: 5px;
        border: 1px; /* Ridotto il bordo su mobile */
        padding: 0.1rem;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        aspect-ratio: 1;
        border-radius: 50%;
    }
    .stat h3 {
        font-size: 0.7rem; /* Adatta la dimensione del testo su mobile */
        margin-bottom: 0.1rem;
        color: #ffdb58;
        text-align: center;
    }
    .stat-value {
        font-size: 1.2rem; /* Adatta la dimensione del numero su mobile */
        font-weight: bold;
        color: var(--primary-color);
    }
    .skill-name {
        font-size: 0.8rem;
    }
    .skill-stat {
        font-size: 0.8rem;
    }
}